.dub
docs.json
__dummy.html
docs/
/packagekit-d
packagekit-d.so
packagekit-d.dylib
packagekit-d.dll
packagekit-d.a
packagekit-d.lib
packagekit-d-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
libpk_backend_packagekit-d.so
